body {
  background-color: rgb(40, 40, 40);
}

#sketch-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

a {
  color: blanchedalmond;
}
p {
  color: rgb(255, 225, 225);
}
